<!DOCTYPE html>
<html>
  <head>
    <title>MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Travel</h1>
    <p>Travel to the @Model.GetPlace() was @Model.GetName()'s dream. Last @Model.GetSeason() he went to @Model.GetPlace(). @Model.GetName() was so excited and said @Model.GetExclamation()!</p>
  </body>
</html>
